#dashboard_menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 0px;
    box-shadow: 0 2px 1px #9c9c9c;
}

#dashboard_menu li {
    padding: 0 0 10px 0;
    position: relative;
}

#dashboard_menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#dashboard_menu li:hover > a {
    color: #0186ba;
}

