#product_enquiry{
	width:700px;
	height:auto;
	
}
#enquiry{
	display:none;
}
#order{
	display:none;
}
span{
	color:red;
}
input[type=text],input[type=password],input[type=submit],input[type=email],input[type=url],input[type=number],input[type=datetime],input[type=tel],textarea,button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	margin: 0;
	margin-bottom: 10px;
}

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.group:after { clear: both; }  
.group { zoom: 1; }  

#myform {
	font: normal .8em/1em Arial, Helvetica, Geneva, sans-serif;
	/background:rgba(0,61,87,0.91);  
	background: rgba(225,219,187, 1);
	
	-moz-border-radius: 1px;
	border-radius: 10px;	
	width:95%;
	float:right;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 980px;
	margin-bottom:20px;
}
#myform fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin: 10px;
}
#myform fieldset:before {
	content:attr(title);
	display: block;
	padding: 0;
	padding-top: 20px;
	font-weight: bold;
	font-size: 1.5em;
	/color: #FFD98D;
	color:rgba(0,61,87,1);
	margin: 0 auto;
}  
#myform legend {
	display: none;
}
#myform ul {
	margin: 0px;
	padding: 0px;
} 
#myform ul li {
	list-style: none;
	padding: 8px;
	/border-top: 1px solid #697276;
	border-bottom: 2px solid #2E3539;
}

#myform ul li:first-child {
	border-top:none;
}

#myform ul li:last-child {
	border-bottom:none;
}
-----------------------
#myform ul li ul li {
	padding-bottom: 0;
	display: inline;
	padding: 0px;
	border-top: none;
	border-bottom: none;
}
#myform  ul li ul li label {
	font-weight: normal;
	display: inline;
	cursor: pointer
}

#myform textarea{
	max-width:980px;
}
#myform ul li.singleline label {
	font-weight: normal;
	display: inline;
}
#myform ul li label, .grouphead {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #454D4D;
	text-shadow: 1px 1px 1px #FFF;
	padding-left: 5px;
}
#myform ul li input  {


	
}
#myform textarea{
	width:95%;
	

}
#myform ul li ul li input {
	display: inline;
	width: auto;
	
}
#myform textarea {
	height: 75px;
}

#myform ul li select {
	width: 100px;
	width: 50%;
	min-width: 100px;	
	color: black;
	border-radius:10px 5px 10px 5px;
	background:#466E82;
	font-weight: bold;
	border: 0;
	}
#myform ul li select option {
	color:white;
	background:#466E82;
	
	}

#myform button {
	width: 100px;
	width: 20%;
	min-width: 100px;
 	height: 24px;
	float: right;
	padding: 0;
	margin-right: 10px;
	margin-top: 5px;
	border: 0;
	color:#FFF;
	font-weight: bold;
	cursor: pointer;
	
	background: #466E82;
	background: url(../images/arrows.png) no-repeat right top, #466E82;
	background: url(../images/arrows.png) no-repeat right top, -webkit-linear-gradient(#466E82,#2C4552);
	background: url(../images/arrows.png) no-repeat right top, -moz-linear-gradient(#466E82,#2C4552);
	background: url(../images/arrows.png) no-repeat right top, -ms-linear-gradient(#466E82,#2C4552);
	background: url(../images/arrows.png) no-repeat right top, -o-linear-gradient(#466E82,#2C4552);
	background: url(../images/arrows.png) no-repeat right top, linear-gradient(#466E82,#2C4552);
	
	

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#myform button:hover {
	background: url(../images/arrows.png) no-repeat right top, #93481A;
	background: url(../images/arrows.png) no-repeat right top, -webkit-linear-gradient(#93481A,#6D2F0E);
	background: url(../images/arrows.png) no-repeat right top, -moz-linear-gradient(#93481A,#6D2F0E);
	background: url(../images/arrows.png) no-repeat right top, -ms-linear-gradient(#93481A,#6D2F0E);
	background: url(../images/arrows.png) no-repeat right top, -o-linear-gradient(#93481A,#6D2F0E);
	background: url(../images/arrows.png) no-repeat right top, linear-gradient(#93481A,#6D2F0E);
	
}
